.splash-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #5a3a29;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.splash-container {
  position: relative;
  width: 100vmin;
  height: 100vmin;
  font-family: sans-serif;
  font-weight: bold;
}

.top-triangle,
.bottom-triangle,
.left-triangle,
.right-triangle {
  position: absolute;
  width: 0;
  height: 0;
}

.top-triangle {
  top: 0;
  left: 0;
  border-left: 50vmin solid transparent;
  border-right: 50vmin solid transparent;
  border-top: 50vmin solid #5a3a29;
}

.bottom-triangle {
  bottom: 0;
  left: 0;
  border-left: 50vmin solid transparent;
  border-right: 50vmin solid transparent;
  border-bottom: 50vmin solid #5a3a29;
}

.left-triangle {
  top: 0;
  left: 0;
  border-top: 50vmin solid transparent;
  border-bottom: 50vmin solid transparent;
  border-left: 50vmin solid #ffffff;
}

.right-triangle {
  top: 0;
  right: 0;
  border-top: 50vmin solid transparent;
  border-bottom: 50vmin solid transparent;
  border-right: 50vmin solid #ffffff;
}

.char {
  position: absolute;
  font-size: 20vmin;
  transform: translate(-50%, -50%);
}

.k {
  color: white;
  top: 25%;
  left: 50%;
}

.one,
.eight,
.seven,
.three {
  color: #5a3a29;
  top: 50%;
  font-size: 25vmin;
}

.one {
  left: 20%;
}

.eight {
  left: 35%;
}

.seven {
  left: 70%;
}

.three {
  left: 85%;
}

.h {
  color: white;
  top: 75%;
  left: 50%;
}
